{% extends 'base.html' %}
{% block title %}Depósitos{% endblock title %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Confirmar Depósito</h2>
    <p>Número de Cuenta: {{ cuenta_id }}</p>
    <p>Cédula: {{ cedula }}</p>

    <form method="post" action="{% url 'cajero:confirm_deposit' %}">
        {% csrf_token %}
        <input type="hidden" name="cuenta_id" value="{{ cuenta_id }}">
        <input type="hidden" name="cedula" value="{{ cedula }}">
        <div class="form-group">
            <label for="amount">Monto:</label>
            {{ form.amount }}
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Confirmar depósito</button>
    </form>
</div>
{% endblock content %}