{% extends 'base.html' %}
{% block title %}Cajero Automatico{% endblock title %}
{% load static %}
{% block content %}
  <div class="container d-flex flex-column align-items-center mt-5">
    <div><h1 class="greeting">Hola</h1></div>
    <div>
      <h4 class="sub-greeting">¿Qué transacción deseas realizar?</h4>
    </div>
  </div>
  <br>
  <br>
  <div
    class="container col-sm-8 mt-4 d-flex flex-wrap justify-content-around"
  >
    <a href="{% url 'cajero:deposit' %}" class="card-link">
      <div
        class="card flex-grow-0 flex-shrink-1 mx-3"
        style="width: 18rem; height: 100%; padding: 0"
      >
        <div
          class="card-img-top d-flex justify-content-center align-items-center pt-2"
        >
          <i
            class="fa-solid fa-money-bill-transfer fa-3x"
            style="color: #34b539"
          ></i>
        </div>
        <div class="card-body px-2 py-2">
          <div
            class="card-text d-flex flex-column justify-content-center align-items-center"
          >
            <p class="mt-0 mb-0">Depósito</p>
            <p class="mt-0 mb-0 texto-resaltado">con tarjeta</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'cajero:withdrawal' %}" class="card-link">
      <div
        class="card flex-grow-0 flex-shrink-1 mx-3"
        style="width: 18rem; height: 100%; padding: 0"
      >
        <div
          class="card-img-top d-flex justify-content-center align-items-center pt-2"
        >
          <i
            class="fa-regular fa-credit-card fa-3x"
            style="color: #34b539"
          ></i>
        </div>
        <div class="card-body px-2 py-2">
          <div
            class="card-text d-flex flex-column justify-content-center align-items-center"
          >
            <p class="mt-0 mb-0">Retiro</p>
            <p class="mt-0 mb-0 texto-resaltado">con tarjeta</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'cajero:payment' %}" class="card-link">
      <div
        class="card flex-grow-0 flex-shrink-1 mx-3"
        style="width: 18rem; height: 100%; padding: 0"
      >
        <div
          class="card-img-top d-flex justify-content-center align-items-center pt-2"
        >
          <i
            class="fa-solid fa-faucet-drip fa-3x"
            style="color: #34b539"
          ></i>
        </div>
        <div class="card-body px-2 py-2">
          <div
            class="card-text d-flex flex-column justify-content-center align-items-center"
          >
            <p class="mt-0 mb-0">Pago</p>
            <p class="mt-0 mb-0 texto-resaltado">de servicios</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <br>
  <div class="container col-sm-8 mt-4 d-flex justify-content-center">
    <a href="{% url 'cajero:check_balance' %}" class="card-link">
      <div
        class="card flex-grow-0 flex-shrink-1"
        style="width: 18rem; height: 100%; padding: 0"
      >
        <div
          class="card-img-top d-flex justify-content-center align-items-center pt-2"
        >
          <i class="fa-solid fa-question fa-3x" style="color: #34b539"></i>
        </div>
        <div class="card-body px-2 py-2">
          <div
            class="card-text d-flex flex-column justify-content-center align-items-center"
          >
            <p class="mt-0 mb-0">Consulta</p>
            <p class="mt-0 mb-0 texto-resaltado">de saldos</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="container col-sm-8 mt-4 mb-0 d-flex justify-content-center fixed-bottom">
    <div class="banner">
      <img src="{% static "banner_publicidad.webp" %}" alt="Banner" class="img-fluid rounded-top-corners">
    </div>
  </div>
{% endblock content %}