.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 450px;
    height: auto;
  }

.greeting {
  color: #00693b;
  font-size: 52px;
  font-weight: 800;
}

.sub-greeting {
  font-size: 34px;
  font-weight: 800;
}

.texto-resaltado {
  font-weight: 800;
}

.card-link {
  color: inherit; /* Keeps the original text color of the card */
  text-decoration: none; /* Removes the default underline of links */
}

.card-link:hover {
  color: inherit; /* Prevents the link color from changing on hover, if you want that effect remove this line*/
  text-decoration: none; /* Prevents the underline from appearing on hover, if you want that effect remove this line*/
}

.banner {
  width: 70%;
  margin: 0 auto; /* Center the banner horizontally */
  border-radius: 15px 15px 0 0; /* Adjust the radius value as desired */
}
.rounded-top-corners {
  border-top-left-radius: 15px; /* Adjust the radius value as desired */
  border-top-right-radius: 15px; /* Adjust the radius value as desired */
}
/* Optional: Add some box shadow to the banner */
.banner {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.card:hover {
  background-color: #e7f7ed;
}